<div class="wrapper signup-background-img">
  <div class="cardsignup">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <div >
        <%= f.button :submit, "Join!", class: "btn btn-success"%>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>