<div class="column">
  <!-- Post-->
  <div class="post-module">
    <!-- Thumbnail-->
    <div class="thumbnail">
      <%= cl_image_tag meal.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category"><%= meal.category %></div>
      <h1 class="title"><%= link_to meal.name, meal %></h1>
      <h2 class="sub_title"><%= link_to meal.user.name, meal_host_path(meal) %></h2>
      <p class="description">
        <%= "About Me" %>
        <br>
        <%= meal.user.description %>
      </p>
      <%= image_tag "#{meal.user.photo}", class: "card-user" %>
    </div>
  </div>
</div>
