<h1><%= @host.name %></h1>
<div><%= @host.email %></div>
<div>
  <% @host.interest.each do |category| %>
    <%= category %>
  <% end %>
</div>
<div>
  <%= @host.description %>
</div>
<div>
  <% @host.meals.each do |meal| %>
    <ul>
      <li>
        <div><%= link_to meal.name, meal_path(meal) %></div>
        <div><%= meal.description %></div>
        <div><%= meal.price %></div>
        <div><%= meal.category %></div>
      </li>
    </ul>
  <% end %>
</div>
<%= link_to 'Back', meal_path %>