<div class="container">
  <div class="profile">
    <div class="main3">
      <%= image_tag "#{@host.photo}", width: "520" %>
    </div>
    <div class="main4">
      <div class="main-content">
        <%= image_tag "#{@host.photo}", width: "80", class: "img-circle" %>
        <h2><%= @host.name %></h2>
        <p><%= @host.email %></p>
        <% if @host.favorited_by? current_user %>
          <%= link_to 'Unfollow', user_unfollow_path(@host), class: "btn btn-lg"%>
        <% else %>
          <%= link_to 'Follow', user_follow_path(@host), class: "btn btn-lg"%>
        <% end %>
      </div>
    </div>
    <div class="description3">
      <div class="description-content">
        <h2><%= @host.meals.name %></h2>
        <div>
          <% @host.meals.each do |meal| %>
            <br>
            <div class="host-container">
            <div><%= image_tag "https://kitt.lewagon.com/placeholder/users/tgenaitay", width: "100" %></div>
            <div class="padding-left-50">
            <div><%= link_to meal.name, meal_path(meal) %></div>
            <div><%= meal.description %></div>
            <div><%= meal.price %></div>
            <div><%= meal.category %></div>
            </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to 'See All Meals', meals_path %></p>
      </div>
    </div>
    <div class="description4">
      <div class="description-content">
        <h2>More about <%= @host.name %></h2>
        <p><%= @host.description %></p>
        <p>
          <% unless @host.interest.nil? %>
            <% @host.interest.each do |category| %>
              <button class="btn-medium"><%= category %></button>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>