<!-- <div class="profile-container">
  <div class="profile2 text-center">
    <div class="main5", id="profile-id">
      <div class="main-content">
        <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "img-circle", width: "140" %>
        <h3 class="font-colot"><%= @user.name %></h3>
        <p><%= "You are a host" if @user.host %>
        </p>
        <p><%= @user.email %></p>
        <p><%= @user.description %></p>
        <% unless @user.interest.nil? %>
          <% @user.interest.each do |category| %>
            <p><%= category %>
              <p>
              <% end %>
            <% end %>
            <% if @user.host %>
              <%= link_to 'Add A New Meal', new_meal_path, class: "btn-medium green" %>
            <% else %>
              <%= link_to 'Become A Host Foodie', edit_user_registration_path, class: "btn-medium green" %>
            <% end %>
            <div class="padding-top"><%= link_to 'Back', meals_path%></div>
          </div>
        </div>
        <div class="description5">
          <div class="description-content">
            <div>
              <h3>Your Bookings</h3>
              <% @user.bookings.each do |book| %>
                <%= link_to book.meal.name, meal_booking_path(book.meal, book) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="description6">
          <div class="description-content green">
            <h3 class="padding-top">Your Meals</h3>
            <p>
              <% @user.meals.each do |meal| %>
                <div><%= link_to meal.name, meal_path(meal) %></div>
                <br>
                <div><%= meal.description %></div>
                <div><%= meal.price %></div>
                <div><%= meal.category %></div>
                <br>
                <%= link_to 'Update', edit_meal_path(meal), class: "btn-medium green"%>
                <% if meal.bookings.nil? %>
                  <%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-medium green"%>
                <% else %>
                  <%= link_to 'Delete', profile_path,  data: { confirm: "You cannot delete this because it is currently booked by someone." }, class: "btn-medium green"%>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div>
        <h3>Your meals booked</h3>
        <table>
          <tr>
            <th>Booked Meal</th>
            <th>Incoming User</th>
            <th>Scheduled Time</th>
          </tr>
          <% @user.meals.each do |meal| %>
            <% meal.bookings.each do |booking| %>
              <tr>
                <td><%= booking.meal.name %></td>
                <td><%= booking.user.name %></td>
                <td><%= booking.time %></td>
                <td><%= link_to 'Decline', meal_booking_path(booking.meal, booking), method: :delete, data: { confirm: "Are you sure?" } %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="profile-container">
  <div class="main5", id="profile-id">
  </div>
</div> -->
<div class="profile-container">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
    </div>
  </div>
  <div id="profile-id"></div>
</div>
