<div class="container">
  <div class="profile text-center">
    <div class="main5">
      <div class="main-content">
        <img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="" width="140" class="img-circle">
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <button class="btn-medium"><%= link_to 'Be The Foodie Guide', new_meal_path %></button>
        <div class="padding-top"><%= link_to 'Back', meals_path%></div>
      </div>
    </div>
    <div class="description5">
      <div class="description-content">
        <div><%= @user.description %></div>
        <br>
        <strong><p>
          <% @user.interest.each do |category| %>
            <%= category %>
          <% end %>
        </p></strong>
      </div>
    </div>
    <div class="description6">
      <img src="https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=304a04115ffd171fdcc04a834afff74c&auto=format&fit=crop&w=1950&q=80" alt="" width="200">
      <div class="description-content">
        <p>
          <% @user.meals.each do |meal| %>
            <div><%= link_to meal.name, meal_path(meal) %></div>
            <br>
            <div><%= meal.description %></div>
            <div><%= meal.price %></div>
            <div><%= meal.category %></div>
            <br>
            <button class="btn-medium"><%= link_to 'Update', edit_meal_path(meal)%></button>
            <button class="btn-medium"><%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: "Are you sure?" }%>
            </button>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div>
    <h2>Bookings</h2>
    <% @user.bookings.each do |book| %>
      <%= book.meal.name %>
    <% end %>
  </div>
  <div><%= link_to 'Be The Foodie Guide For A New Meal', new_meal_path %></div>
  <%= link_to 'Back', meals_path %>
</div>

