<div class="container">
  <div class="profile2 text-center">
    <div class="main5", id="profile-id">
      <div class="main-content">
        <img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="" width="140" class="img-circle">
        <h3 class="font-colot"><%= @user.name %></h3>
        <p><%= @user.email %></p>
        <p><%= @user.description %></p>

          <% @user.interest.each do |category| %>
            <p><%= category %><p>
          <% end %>
        <button class="btn-medium green"><%= link_to 'Be The Foodie Guide', new_meal_path %></button>
        <div class="padding-top"><%= link_to 'Back', meals_path%></div>
      </div>
    </div>
    <div class="description5">
      <div class="description-content">
        <div>
          <h3>Bookings</h3>
          <% @user.bookings.each do |book| %>
            <%= book.meal.name %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="description6">
      <div class="description-content green">
        <h3 class="padding-top">Meals</h3>
        <p>
          <% @user.meals.each do |meal| %>
            <div><%= link_to meal.name, meal_path(meal) %></div>
            <br>
            <div><%= meal.description %></div>
            <div><%= meal.price %></div>
            <div><%= meal.category %></div>
            <br>
            <button class="btn-medium green"><%= link_to 'Update', edit_meal_path(meal)%></button>
            <button class="btn-medium green "><%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: "Are you sure?" }%>
            </button>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div>
</div>

