<h1><%= @user.name %></h1>
<div><%= @user.email %></div>
<div>
  <% @user.interest.each do |category| %>
    <%= category %>
  <% end %>
</div>
<div>
  <%= @user.description %>
</div>
<div>
  <% @user.meals.each do |meal| %>
    <ul>
      <li>
        <div><%= link_to meal.name, meal_path(meal) %></div>
        <div><%= meal.description %></div>
        <div><%= meal.price %></div>
        <div><%= meal.category %></div>
        <%= link_to 'Update', edit_meal_path(meal)%>
        <div><%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: "Are you sure?" }%></div>
      </li>
    </ul>
  <% end %>
</div>
<div><%= link_to 'Be The Foodie Guide For A New Meal', new_meal_path %></div>
<%= link_to 'Back', meals_path %>