<div class="container">
  <div class="profile text-center">
    <div class="main1">
      <%= cl_image_tag @meal.photo, height: 330, width: 400, crop: :fill %>
    </div>
    <div class="main2">
      <div class="main-content">
        <img src=<%= @meal.user.photo %> alt="" width="80" class="img-circle">
        <h2><%= link_to @meal.user.name, host_path %></h2>
        <p><%= @meal.user.email %></p>
        <button class="btn btn-lg"><%= link_to 'Follow', '#' %></button>
      </div>
    </div>
    <div class="description1">
      <div class="description-content">
        <h2 class="font-size-22"><%= @meal.name %></h2>
        <p><%= @meal.category %></p>
        <strong>
          <p class="font-size-18 font-color-black"><%= @meal.price %></p>
        </strong>
        <p class="text-justify font-size-16 font-color-black"><%= @meal.description %></p>
        <a href=<%= new_meal_booking_path(@meal) %>><button class="btn btn-lg" id="font-white-book">Book</button></a>
      </div>
    </div>
    <div class="description2">
      <div class="description-content">
        <h2 class="font-size-22">More about <%= @meal.user.name %></h2>
        <p class="text-justify font-size-16 font-color-black"><%= @meal.user.description %></p>
        <p>
          <% unless @meal.user.interest.nil? %>
            <% @meal.user.interest.each do |category| %>
              <%= category %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <p><%= link_to 'See All Meals', meals_path %></p>
</div>
