<div class="container">
  <div class="profile text-center">
    <div class="main1">
      <img src="https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=304a04115ffd171fdcc04a834afff74c&auto=format&fit=crop&w=1950&q=80" alt="" width="400" >
    </div>
    <div class="main2">
      <div class="main-content">
        <img src="https://kitt.lewagon.com/placeholder/users/tgenaitay" alt="" width="80" class="img-circle">
        <h2><%= link_to @meal.user.name, host_path %></h2>
        <p><%= @meal.user.email %></p>
        <button class="btn btn-lg"><%= link_to 'Follow', '#' %></button>
      </div>
    </div>
    <div class="description1">
      <div class="description-content">
        <h2><%= @meal.name %></h2>
        <p><%= @meal.category %></p>
        <p><%= @meal.price %></p>
        <p class="text-justify"><%= @meal.description %></p>
        <p><%= link_to 'See All Meals', meals_path %></p>
        <a href=<%= new_meal_booking_path(@meal) %>><button class="btn btn-lg" id="font-white-book"  >Book</button></a>
      </div>
    </div>
    <div class="description2">
      <div class="description-content">
        <h2>More about Sebastien</h2>
        <p><%= @meal.user.description %></p>
        <p>
          <% @meal.user.interest.each do |category| %>
            <button class="btn-medium"><%= category %></button>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
