
<div class="container">
  <div class="title-login">
    <h2>Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  </div>
    <div class="cardlogin">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="btn-forms">
      <%= f.button :submit, "Log in" %>
    </div>
    <div class="blue-btn-forms">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>


</div>
